/*Texto para chamada das fontes
font-family: 'DM Sans', sans-serif;
font-family: 'DM Serif Display', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
:root{
    --main.color: #FDFCDC;
    --bg: #fff;
    --border 1px solid;
    --box-shadow: 0 5px 10px;
}
*{

    font-family: 'DM Sans', sans-serif;
    margin: auto;
}

.title{
    font-family: 'Righteous', cursive;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.navegation-bar{
    overflow:hidden;
    background-color: #FED9B7;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 70px;
    
}
.color-menu{
    background-color: #fff;
    position: fixed;
    top:0;
    right:0;
    border-left: var;
    height: 100vh;
    width: 100px;
    z-index: 1000;
    text-align: center;
    padding: 20px;
}
.botao{
    background: #afd46e;
    color: #202020;
    border: 1px solid #f5f8271c;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #c9bdbd;
    height: 30px;
    text-shadow: none;
}
.botao:hover{
    background: #C2ED77;
    color: #202020;
    border: 1px solid #f5f8271c;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #c9bdbd;
    text-shadow: none;
}
/* .menu-close{
    padding-top: 10px;
} */

.colour-menu .colors-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    flex-direction: column;
    gap:1.5px;

}

.color-menu .colors-list .color{
    border-radius: 5px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: solid 0.5px #2020204b;
}

.color-menu .colors-list .color:hover{
    opacity: .5;
}

/* .color-button{

} */
.menu-hidden {
    display: none;
}

.conteudo{
    margin-bottom: 48px; 
    border-top: 0.4px solid #0000008c;
}
